<%= form_for(@zipcode) do |f| %>
  <% if @zipcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zipcode.errors.count, "error") %> prohibited this zipcode from being saved:</h2>

      <ul>
      <% @zipcode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_field :details %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :countOfCity %><br>
    <%= f.text_field :countOfCity %>
  </div>
  <div class="field">
    <%= f.label :cityStName %><br>
    <%= f.text_field :cityStName %>
  </div>
  <div class="field">
    <%= f.label :lastLineCity %><br>
    <%= f.text_field :lastLineCity %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :lat_degree %><br>
    <%= f.text_field :lat_degree %>
  </div>
  <div class="field">
    <%= f.label :lon_degree %><br>
    <%= f.text_field :lon_degree %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :areacode %><br>
    <%= f.text_field :areacode %>
  </div>
  <div class="field">
    <%= f.label :timeZoneLabel %><br>
    <%= f.text_field :timeZoneLabel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
