<h1>Listing zipcodes</h1>

<table>
  <thead>
    <tr>
      <th>Details</th>
      <th>Zip</th>
      <th>Countofcity</th>
      <th>Citystname</th>
      <th>Lastlinecity</th>
      <th>State</th>
      <th>County</th>
      <th>Lat degree</th>
      <th>Lon degree</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Areacode</th>
      <th>Timezonelabel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zipcodes.each do |zipcode| %>
      <tr>
        <td><%= zipcode.details %></td>
        <td><%= zipcode.zip %></td>
        <td><%= zipcode.countOfCity %></td>
        <td><%= zipcode.cityStName %></td>
        <td><%= zipcode.lastLineCity %></td>
        <td><%= zipcode.state %></td>
        <td><%= zipcode.county %></td>
        <td><%= zipcode.lat_degree %></td>
        <td><%= zipcode.lon_degree %></td>
        <td><%= zipcode.lat %></td>
        <td><%= zipcode.long %></td>
        <td><%= zipcode.areacode %></td>
        <td><%= zipcode.timeZoneLabel %></td>
        <td><%= link_to 'Show', zipcode %></td>
        <td><%= link_to 'Edit', edit_zipcode_path(zipcode) %></td>
        <td><%= link_to 'Destroy', zipcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zipcode', new_zipcode_path %>
