<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @zipcode.details %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @zipcode.zip %>
</p>

<p>
  <strong>Countofcity:</strong>
  <%= @zipcode.countOfCity %>
</p>

<p>
  <strong>Citystname:</strong>
  <%= @zipcode.cityStName %>
</p>

<p>
  <strong>Lastlinecity:</strong>
  <%= @zipcode.lastLineCity %>
</p>

<p>
  <strong>State:</strong>
  <%= @zipcode.state %>
</p>

<p>
  <strong>County:</strong>
  <%= @zipcode.county %>
</p>

<p>
  <strong>Lat degree:</strong>
  <%= @zipcode.lat_degree %>
</p>

<p>
  <strong>Lon degree:</strong>
  <%= @zipcode.lon_degree %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @zipcode.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @zipcode.long %>
</p>

<p>
  <strong>Areacode:</strong>
  <%= @zipcode.areacode %>
</p>

<p>
  <strong>Timezonelabel:</strong>
  <%= @zipcode.timeZoneLabel %>
</p>

<%= link_to 'Edit', edit_zipcode_path(@zipcode) %> |
<%= link_to 'Back', zipcodes_path %>
