<h1>Listing classsifieds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Posteddate</th>
      <th>Details</th>
      <th>Expiredate</th>
      <th>Categoryid</th>
      <th>Contactid</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classsifieds.each do |classsified| %>
      <tr>
        <td><%= classsified.title %></td>
        <td><%= classsified.postedDate %></td>
        <td><%= classsified.details %></td>
        <td><%= classsified.expireDate %></td>
        <td><%= classsified.categoryid %></td>
        <td><%= classsified.contactId %></td>
        <td><%= classsified.status %></td>
        <td><%= link_to 'Show', classsified %></td>
        <td><%= link_to 'Edit', edit_classsified_path(classsified) %></td>
        <td><%= link_to 'Destroy', classsified, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classsified', new_classsified_path %>
