<!DOCTYPE html>
<html>
<head>
  <title>Market</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Menu -->

	  <div class="container">
    <ul class="nav nav-tabs">
    <li>  <%= link_to "Home" , root_path %></li>
    <li>   <%= link_to "About Us" , welcome_about_path %></li>
    <li>   <%= link_to "Products" , welcome_products_path %></li>
    <li> <%= link_to "Register" , welcome_register_path %></li>
    <li>  <%= link_to "LogIn" , welcome_login_path %></li>
    </ul>
    
    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>
<div align="center">
	<p>
		&copy; Copyright 1997 - 2015 Bizovation, LLC.<br />
		All rights reserved.
	</p>
 </div>
</body>
</html>
